/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Estilos del Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #ddd;
}

/* Estilos de las Secciones */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Estilos de los Títulos */
h1, h2, h3 {
    color: #333;
}

/* Estilos de Proyectos */
#proyectos article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Estilos para pantallas pequeñas (Responsive Design) */
@media screen and (max-width: 600px) {
    header nav a {
        display: block;
        margin: 10px 0;
    }

    #proyectos article {
        margin: 10px 0;
    }
}

/* Estilos para la sección Sobre Mí */
#sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la imagen en Sobre Mí */
#sobre-mi img {
    max-width: 200px; /* Ajusta esto según tus necesidades */
    margin-right: 20px;
}

/* Estilos para el texto en Sobre Mí */
#sobre-mi div {
    max-width: 600px; /* Ajusta esto según tus necesidades */
}
/* Estilos para la sección de Contacto */
#contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el Formulario */
form {
    display: grid;
    grid-gap: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}



